- content_for :title, "New api configuration"

.row
  .col-4
    .card.card-success.card-outline.mb-4
      .card-header
        .card-title New api configuration
      = render "form", api_configuration: @api_configuration
