%div{id: dom_id(instrument_history)}
  %p
    %strong Instrument:
    = instrument_history.instrument_id

  %p
    %strong Unit:
    = instrument_history.unit

  %p
    %strong Interval:
    = instrument_history.interval

  %p
    %strong Date:
    = instrument_history.date

